td
<!-- Toolbar -->
<div class="toolbar" role="banner">

</div>
{{imageError}}
<div class="content" role="main">
  <input type="file" (change)="OnFileSelected($event)" /> 
  <button type="button" (click)="OnGetPuzzle()">Upload</button>
 

    <table>
      <thead>

      </thead>
      <tbody>
        <tr *ngFor="let a of arr(puzzleImg.column); let i = index">
          <td *ngFor="let row of arr(puzzleImg.row); let j = index" >
            <div class="imgBox" [ngClass]="{'checkImageBox': IsCheckImageBox}">
              <img  [src]="puzzleImg.imageLst[i *  puzzleImg.row + j]" alt="Selected Image" height="150" width="250" (click)="this.myfunction(i,j)">
            </div>
          </td>
        </tr>
      </tbody>
    </table>


    <img [src]="image1" class="checkImageBox" alt="Selected Image" height="150" width="250">

    <img [src]="image2" alt="Selected Image" height="150" width="250">

</div>

