td
<!-- Toolbar -->
<div class="toolbar" role="banner">

</div>
{{imageError}}
<div class="content" role="main">
  <input type="file" (change)="OnFileSelected($event)" /> 
  <button type="button" (click)="OnGetPuzzle()">Upload</button>
 

  <!--  <table>
      <p >
        <tr *ngFor="let a of arr(puzzleImg.row); let i = index">
          <td *ngFor="let row of arr(puzzleImg.column); let j = index">
            <img [src]="puzzleImg.imageLst[i *  puzzleImg.column + j]" alt="Selected Image" height="50" width="50">
            
          </td>
        </tr>
      </p>
    </table>-->

    <table mat-table [dataSource] = "puzzleImg.imageLst" class="mat-elevation-z8">
        <ng-container  cdkDropListGroup>
          <td mat-call *matCellDef="let element">

          </td>
        </ng-container>

        <tr mat-row *matRowDef="columns: arr(puzzleImg.column)"></tr>
    </table>
</div>

