td
<!-- Toolbar -->
<div class="toolbar" role="banner">

</div>
{{imageError}}
<div class="content" role="main">
  <input type="file" (change)="OnFileSelected($event)" /> 
  <button type="button" (click)="OnGetPuzzle()">Upload</button>
 

    <table>
      <p >
        <tr *ngFor="let a of arr(puzzleImg.column); let i = index">
          <td *ngFor="let row of arr(puzzleImg.column); let j = index">
            <img [src]="puzzleImg.imageLst[i *  puzzleImg.column + j]" alt="Selected Image" height="50" width="50">
            
          </td>
          <!--{{i *  puzzleImg.column + j}}
            <td *ngFor="let img of puzzleImg.imageLst; let i = index" >
            <p *ngIf="i %  (puzzleImg.row - 1) else newrow">
              <img [src]="img" alt="Selected Image" height="200" width="200">
            </p>
            <p #newrow>
              <img [src]="img" alt="Selected Image" height="200" width="200">
            </p>
          </td>-->
        </tr>
      </p>
    </table>

    <!--<table>
      <tr *ngFor="let j of arr(5)">
        <td *ngFor="let j of arr(5)">
          a
        </td>
      </tr>
    </table>
  *ngFor="let a of arr(puzzleImg.column);"
  *ngFor="let img of puzzleImg.imageLst;"
  -->
</div>

