h1{
    font-family: fanix;
    text-align: center;
    margin-top: 150px;
    font-size: 200px;
    font-weight: bold;
    color: transparent;
    background-image: url("https://media.giphy.com/media/1Su0BeFy6fXXGa977m/giphy.gif");
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
}

.logo{
    font-weight: 1000px;
}

.playBtn{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

a{
    position: relative;
    padding: 20px 40px;
    background: #d43737;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 4px;
    transform-style: preserve-3d;
    transition: ease-in-out 2s;
    border-radius: 60px;
    height: 40%;
    width: 30%;
}

a:hover{
    transform: rotateX(360deg);
}
a span{
    font: fanix;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: block;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
    text-align: center;
    text-size-adjust: inherit;
}

a:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(600px) translateZ(15px);
    border-radius: 60px;
}
a:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #fff;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;
}
